@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2> Dit zijn de game releases van maart!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et metus ut ligula cursus auctor eget eget urna. Vestibulum pulvinar mattis egestas. Suspendisse ac justo quis erat consequat tincidunt quis ut elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean posuere eros et lobortis porta. Mauris volutpat magna ut consectetur finibus. Donec volutpat mi et velit euismod, eu ullamcorper tortor pharetra. Vestibulum et lectus finibus, auctor est ut, interdum sem. Donec interdum ex sed lacus pretium aliquet. Nam at hendrerit metus.

            </p>
        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">Uitgelichte games</h2>
    <div class="highlighted row">
        <div class="highlighted-game col">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ProductDescription">
                <h1>Game hier</h1>
            </a>
        </div>
        <div class="highlighted-game col">
            <h1>Game hier</h1>
        </div>
        <div class="highlighted-game col">
            <h1>Game hier</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="must-haves">
        <h2 class="text-center">Must have games</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-img-top">
                        <img src="~/img/placeholders/card-placeholder.svg" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Game voorbeeld</h5>
                        <p class="card-text">Hier komt uiteindelijk een van de best verkochte games te staan.</p>
                        <div class="starrating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-img-top">
                        <img src="~/img/placeholders/card-placeholder.svg" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Game voorbeeld</h5>
                        <p class="card-text">Hier komt uiteindelijk een van de best verkochte games te staan.</p>
                        <div class="starrating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-img-top">
                        <img src="~/img/placeholders/card-placeholder.svg" width="100%" alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Game voorbeeld</h5>
                        <p class="card-text">Hier komt uiteindelijk een van de best verkochte games te staan.</p>
                        <div class="starrating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">In de aanbieding</h2>
    <div class="highlighted row">
        <div class="highlighted-game col">
            <h1>Game hier</h1>
        </div>
        <div class="highlighted-game col">
            <h1>Game hier</h1>
        </div>
        <div class="highlighted-game col">
            <h1>Game hier</h1>
        </div>
    </div>
</div>
