@{
    ViewData["Title"] = "Product Description";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <iframe height="200" width="500" class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen frameborder="0"></iframe>
            <figcaption>Trailer</figcaption>
        </div>
        <div class="col">
            <img height="200" src="~/img/placeholders/fortnite-rickroll-emote.gif" alt="Alternate Text" />
            <figcaption>Game</figcaption>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-img-top">
                    <img src="~/img/placeholders/card-placeholder.svg" width="100%" alt="Alternate Text" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Game voorbeeld</h5>
                    <p class="card-text">Game</p>
                    <div class="starrating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Game Titel</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et metus ut ligula cursus auctor eget eget urna. Vestibulum pulvinar mattis egestas. Suspendisse ac justo quis erat consequat tincidunt quis ut elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean posuere eros et lobortis porta. Mauris volutpat magna ut consectetur finibus. Donec volutpat mi et velit euismod, eu ullamcorper tortor pharetra. Vestibulum et lectus finibus, auctor est ut, interdum sem. Donec interdum ex sed lacus pretium aliquet. Nam at hendrerit metus.
                <br />
            </p>
            <p style="font-size:25px" class="fa fa-shopping-cart highlighted-game">Winkelwagen</p>
        </div>
    </div>
</div>


